.blueLogo {
    height: 75px;
    width: 75px;
    background-color: blue;
    border-radius: 50%;
}
.redLogo {
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 50%;
}

header {
    margin-top: 2%;
    margin-bottom: 1%;
}

.logo {
    margin-bottom: 5%;
}

.blue {
    height: 75px;
    width: 75px;
    background-color: blue;
    border-radius: 50%;
}
.red {
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 50%;
}
.blank {
    height: 75px;
    width: 75px;
    background-color: rgb(247, 251, 252);
    border-radius: 50%;
    border: 1px solid black;
}

.piece {
    height: 75px;
    width: 75px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid black;
}

.playerPiece {
    background-color: antiquewhite;
    height: 10%;
}

.board {
    height: 80%;
    background-color: yellow;
    border: 2px solid black;
    margin-bottom: 2%;
}

.row {
    border: 1px solid black;
}

.clearBoard {
    visibility: hidden;
}

