body {
    background-color: rgb(181, 235, 222);
}



.blackLogo {
    height: 7vw;
    width: 4vw;
    background-color: black;
    border-radius: 50%;
}

.redLogo {
    height: 7vw;
    width: 4vw;
    background-color: red;
    border-radius: 50%;
    margin: 1vw;
}

header {
    margin-top: 1%;
}

.logo {
    margin-bottom: 1%;
    display: flex;
    width: 100%;
    justify-items: center;
}

.logo col {
    display: flex;
}

.black {
    height: 5vw;
    width: 5vw;
    background-color: black;
    border-radius: 50%;
}
.red {
    height: 5vw;
    width: 5vw;
    background-color: red;
    border-radius: 50%;
}
.blank {
    height: 5vw;
    width: 5vw;
    background-color: rgb(247, 251, 252);
    border-radius: 50%;
    border: 1px solid black;
}

.piece {
    height: 5vw;
    width: 5vw;
    background-color: black;
    border-radius: 50%;
    border: 1px solid rgb(250, 247, 247);
}

.playerPiece {
    height: 5vw;
    width: 5vw;
    background-color: black;
    border-radius: 50%;
}

.board {
    height: 90%;
    width: 100%;
    background-color: rgb(224, 224, 240);
    border: 2px solid black;
    margin-bottom: 1%;
    opacity: .6;
}

.clearBoard {
    visibility: hidden;
}

.scoreboard {
    background-color: rgb(252, 250, 247);
    margin-left: 1%;
    margin-right: 0;
    opacity: .4;
    width: 13vw;
}

.scoreboard h4 {
    font-size: 2vw;
}

.column-flex {
    width: 7vw;
    height: 100%;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}